<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="RAP Target Platform" sequenceNumber="47">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.equinox.core.sdk.feature.group" version="3.10.0.v20140909-1633"/>
<repository location="http://download.eclipse.org/releases/luna"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.e4.tools.css.spy.feature.feature.group" version="0.14.0.v20140707-1917"/>
<unit id="org.eclipse.e4.databinding.tests.feature.feature.group" version="0.13.0.v20140320-1305"/>
<unit id="org.eclipse.e4.databinding.feature.feature.group" version="0.13.0.v20140320-1340"/>
<unit id="org.eclipse.e4.core.tools.feature.source.feature.group" version="0.14.0.v20140806-0758"/>
<unit id="org.eclipse.e4.tools.context.spy.feature.feature.group" version="0.1.0.v20140708-1626"/>
<unit id="org.eclipse.e4.tools.emf.liveeditor.feature.source.feature.group" version="0.15.0.v20140728-1808"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.feature.group" version="0.15.0.v20140707-1917"/>
<unit id="org.eclipse.e4.tools.event.spy.feature.source.feature.group" version="0.15.0.v20140707-1917"/>
<unit id="org.eclipse.e4.tools.orion.css.editor.feature.source.feature.group" version="0.15.0.v20140404-1904"/>
<unit id="org.eclipse.e4.tools.css.editor.feature.feature.group" version="0.14.0.v20140221-1650"/>
<unit id="org.eclipse.e4.tools.emf.liveeditor.feature.feature.group" version="0.15.0.v20140728-1808"/>
<unit id="org.eclipse.e4.tools.css.editor.feature.source.feature.group" version="0.14.0.v20140221-1650"/>
<unit id="org.eclipse.e4.tools.orion.css.editor.feature.feature.group" version="0.15.0.v20140404-1904"/>
<unit id="org.eclipse.e4.core.tools.feature.feature.group" version="0.14.0.v20140806-0758"/>
<unit id="org.eclipse.e4.tools.css.spy.feature.source.feature.group" version="0.14.0.v20140707-1917"/>
<repository location="http://download.eclipse.org/e4/downloads/drops/S-0.16-201408072200/repository"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="true" includeMode="slicer" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.rap.feature.feature.group" version="3.0.0.20141110-1349"/>
<unit id="org.eclipse.rap.examples.feature.feature.group" version="3.0.0.20141110-1130"/>
<unit id="org.eclipse.rap.sdk.feature.feature.group" version="3.0.0.20141110-1349"/>
<unit id="org.eclipse.rap.equinox.target.feature.feature.group" version="3.0.0.20141105-1434"/>
<repository location="http://download.eclipse.org/rt/rap/3.0"/>
</location>
<location path="${project_loc:org.eclipse.e4.security.demo.rap.target}/rap-e4-p2" type="Profile"/>
</locations>
<includeBundles>
<plugin id="com.ibm.icu"/>
<plugin id="com.ibm.icu.base"/>
<plugin id="com.ibm.icu.base.source"/>
<plugin id="com.ibm.icu.source"/>
<plugin id="javax.annotation"/>
<plugin id="javax.annotation.source"/>
<plugin id="javax.inject"/>
<plugin id="javax.inject.source"/>
<plugin id="javax.servlet" version="3.1.0.v20140303-1611"/>
<plugin id="javax.servlet" version="3.0.0.v201112011016"/>
<plugin id="javax.servlet.source" version="3.0.0.v201112011016"/>
<plugin id="javax.servlet.source" version="3.0.0.v201112011016"/>
<plugin id="javax.xml" version="1.3.4.v201005080400"/>
<plugin id="javax.xml" version="1.3.4.v201005080400"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.command.source" version="0.10.0.v201209301215"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.runtime.source" version="0.10.0.v201209301036"/>
<plugin id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
<plugin id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
<plugin id="org.apache.felix.gogo.shell" version="0.10.0.v201212101605"/>
<plugin id="org.apache.felix.gogo.shell.source" version="0.10.0.v201212101605"/>
<plugin id="org.apache.felix.gogo.shell.source" version="0.10.0.v201212101605"/>
<plugin id="org.apache.felix.gogo.shell.source" version="0.10.0.v201212101605"/>
<plugin id="org.apache.mina.core"/>
<plugin id="org.apache.mina.core.source"/>
<plugin id="org.apache.sshd.core"/>
<plugin id="org.apache.sshd.core.source"/>
<plugin id="org.eclipse.ant.core"/>
<plugin id="org.eclipse.ant.core.source"/>
<plugin id="org.eclipse.core.commands" version="3.6.100.v20140528-1422"/>
<plugin id="org.eclipse.core.commands" version="3.6.100.v20140528-1422"/>
<plugin id="org.eclipse.core.commands.source" version="3.6.100.v20140528-1422"/>
<plugin id="org.eclipse.core.commands.source" version="3.6.100.v20140528-1422"/>
<plugin id="org.eclipse.core.contenttype" version="3.4.200.v20140207-1251"/>
<plugin id="org.eclipse.core.contenttype" version="3.4.200.v20140207-1251"/>
<plugin id="org.eclipse.core.contenttype.source" version="3.4.200.v20140207-1251"/>
<plugin id="org.eclipse.core.contenttype.source" version="3.4.200.v20140207-1251"/>
<plugin id="org.eclipse.core.databinding" version="1.5.0.v20140117-2048"/>
<plugin id="org.eclipse.core.databinding" version="1.4.2.v20140729-1044"/>
<plugin id="org.eclipse.core.databinding" version="1.4.2.v20140729-1044"/>
<plugin id="org.eclipse.core.databinding.beans" version="1.5.0.v20140117-1518"/>
<plugin id="org.eclipse.core.databinding.beans" version="1.2.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.beans.source"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.5.0.v20140320-1340"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.observable" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.observable.source" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.observable.source" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.observable.source" version="1.4.1.v20140210-1835"/>
<plugin id="org.eclipse.core.databinding.property" version="1.4.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.property" version="1.5.0.v20140117-1518"/>
<plugin id="org.eclipse.core.databinding.property" version="1.4.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.property.source" version="1.4.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.property.source" version="1.4.200.v20140214-0004"/>
<plugin id="org.eclipse.core.databinding.source" version="1.4.2.v20140729-1044"/>
<plugin id="org.eclipse.core.databinding.source" version="1.4.2.v20140729-1044"/>
<plugin id="org.eclipse.core.expressions" version="3.4.600.v20140128-0851"/>
<plugin id="org.eclipse.core.expressions" version="3.4.600.v20140128-0851"/>
<plugin id="org.eclipse.core.expressions.source" version="3.4.600.v20140128-0851"/>
<plugin id="org.eclipse.core.expressions.source" version="3.4.600.v20140128-0851"/>
<plugin id="org.eclipse.core.filesystem"/>
<plugin id="org.eclipse.core.filesystem.source"/>
<plugin id="org.eclipse.core.jobs" version="3.6.0.v20140424-0053"/>
<plugin id="org.eclipse.core.jobs" version="3.6.0.v20140424-0053"/>
<plugin id="org.eclipse.core.jobs.source" version="3.6.0.v20140424-0053"/>
<plugin id="org.eclipse.core.jobs.source" version="3.6.0.v20140424-0053"/>
<plugin id="org.eclipse.core.resources"/>
<plugin id="org.eclipse.core.resources.source"/>
<plugin id="org.eclipse.core.runtime" version="3.10.0.v20140318-2214"/>
<plugin id="org.eclipse.core.runtime" version="3.10.0.v20140318-2214"/>
<plugin id="org.eclipse.core.runtime.source" version="3.10.0.v20140318-2214"/>
<plugin id="org.eclipse.core.runtime.source" version="3.10.0.v20140318-2214"/>
<plugin id="org.eclipse.core.variables"/>
<plugin id="org.eclipse.core.variables.source"/>
<plugin id="org.eclipse.e4.core.commands"/>
<plugin id="org.eclipse.e4.core.commands.source"/>
<plugin id="org.eclipse.e4.core.contexts" version="1.3.100.v20140407-1019"/>
<plugin id="org.eclipse.e4.core.contexts" version="1.3.100.v20140407-1019"/>
<plugin id="org.eclipse.e4.core.contexts.source" version="1.3.100.v20140407-1019"/>
<plugin id="org.eclipse.e4.core.contexts.source" version="1.3.100.v20140407-1019"/>
<plugin id="org.eclipse.e4.core.di" version="1.4.0.v20140414-1837"/>
<plugin id="org.eclipse.e4.core.di" version="1.4.0.v20140414-1837"/>
<plugin id="org.eclipse.e4.core.di.extensions"/>
<plugin id="org.eclipse.e4.core.di.extensions.source"/>
<plugin id="org.eclipse.e4.core.di.source" version="1.4.0.v20140414-1837"/>
<plugin id="org.eclipse.e4.core.di.source" version="1.4.0.v20140414-1837"/>
<plugin id="org.eclipse.e4.core.services"/>
<plugin id="org.eclipse.e4.core.services.source"/>
<plugin id="org.eclipse.e4.tools"/>
<plugin id="org.eclipse.e4.tools.compat"/>
<plugin id="org.eclipse.e4.tools.compat.source"/>
<plugin id="org.eclipse.e4.tools.context.spy"/>
<plugin id="org.eclipse.e4.tools.css.editor"/>
<plugin id="org.eclipse.e4.tools.css.editor.source"/>
<plugin id="org.eclipse.e4.tools.css.editor.ui"/>
<plugin id="org.eclipse.e4.tools.css.editor.ui.source"/>
<plugin id="org.eclipse.e4.tools.css.spy"/>
<plugin id="org.eclipse.e4.tools.css.spy.source"/>
<plugin id="org.eclipse.e4.tools.emf.editor3x"/>
<plugin id="org.eclipse.e4.tools.emf.editor3x.source"/>
<plugin id="org.eclipse.e4.tools.emf.liveeditor"/>
<plugin id="org.eclipse.e4.tools.emf.liveeditor.source"/>
<plugin id="org.eclipse.e4.tools.emf.ui"/>
<plugin id="org.eclipse.e4.tools.emf.ui.script.js"/>
<plugin id="org.eclipse.e4.tools.emf.ui.script.js.source"/>
<plugin id="org.eclipse.e4.tools.emf.ui.source"/>
<plugin id="org.eclipse.e4.tools.event.spy"/>
<plugin id="org.eclipse.e4.tools.event.spy.source"/>
<plugin id="org.eclipse.e4.tools.jdt.templates"/>
<plugin id="org.eclipse.e4.tools.jdt.templates.source"/>
<plugin id="org.eclipse.e4.tools.orion.css.editor"/>
<plugin id="org.eclipse.e4.tools.orion.css.editor.source"/>
<plugin id="org.eclipse.e4.tools.orion.editor"/>
<plugin id="org.eclipse.e4.tools.orion.editor.source"/>
<plugin id="org.eclipse.e4.tools.services"/>
<plugin id="org.eclipse.e4.tools.services.source"/>
<plugin id="org.eclipse.e4.tools.source"/>
<plugin id="org.eclipse.e4.tools.spy"/>
<plugin id="org.eclipse.e4.tools.spy.source"/>
<plugin id="org.eclipse.e4.ui.bindings"/>
<plugin id="org.eclipse.e4.ui.bindings.source"/>
<plugin id="org.eclipse.e4.ui.di" version="1.0.0.v20140328-2112"/>
<plugin id="org.eclipse.e4.ui.di" version="1.0.0.v20140328-2112"/>
<plugin id="org.eclipse.e4.ui.di.source" version="1.0.0.v20140328-2112"/>
<plugin id="org.eclipse.e4.ui.di.source" version="1.0.0.v20140328-2112"/>
<plugin id="org.eclipse.e4.ui.model.workbench" version="1.1.0.v20140512-1820"/>
<plugin id="org.eclipse.e4.ui.model.workbench" version="1.1.0.v20140512-1820"/>
<plugin id="org.eclipse.e4.ui.model.workbench.source" version="1.1.0.v20140512-1820"/>
<plugin id="org.eclipse.e4.ui.model.workbench.source" version="1.1.0.v20140512-1820"/>
<plugin id="org.eclipse.e4.ui.services"/>
<plugin id="org.eclipse.e4.ui.services.source"/>
<plugin id="org.eclipse.e4.ui.workbench" version="1.1.0.v20140528-1949"/>
<plugin id="org.eclipse.e4.ui.workbench" version="1.2.1.v20140901-1244"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.addons.swt.source"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.renderers.swt.source"/>
<plugin id="org.eclipse.e4.ui.workbench.source" version="1.2.1.v20140901-1244"/>
<plugin id="org.eclipse.e4.ui.workbench.source" version="1.1.0.v20140528-1949"/>
<plugin id="org.eclipse.e4.ui.workbench.swt"/>
<plugin id="org.eclipse.e4.ui.workbench.swt.source"/>
<plugin id="org.eclipse.emf.common"/>
<plugin id="org.eclipse.emf.common.source"/>
<plugin id="org.eclipse.emf.databinding"/>
<plugin id="org.eclipse.emf.databinding.edit"/>
<plugin id="org.eclipse.emf.databinding.edit.source"/>
<plugin id="org.eclipse.emf.databinding.source"/>
<plugin id="org.eclipse.emf.ecore"/>
<plugin id="org.eclipse.emf.ecore.change"/>
<plugin id="org.eclipse.emf.ecore.change.source"/>
<plugin id="org.eclipse.emf.ecore.source"/>
<plugin id="org.eclipse.emf.ecore.xmi"/>
<plugin id="org.eclipse.emf.ecore.xmi.source"/>
<plugin id="org.eclipse.emf.edit"/>
<plugin id="org.eclipse.emf.edit.source"/>
<plugin id="org.eclipse.equinox.app" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.app" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.app.source" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.app.source" version="1.3.200.v20130910-1609"/>
<plugin id="org.eclipse.equinox.bidi"/>
<plugin id="org.eclipse.equinox.bidi.source"/>
<plugin id="org.eclipse.equinox.cm"/>
<plugin id="org.eclipse.equinox.cm.source"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.common.source" version="3.6.200.v20130402-1505"/>
<plugin id="org.eclipse.equinox.concurrent"/>
<plugin id="org.eclipse.equinox.concurrent.source"/>
<plugin id="org.eclipse.equinox.console" version="1.1.0.v20140131-1639"/>
<plugin id="org.eclipse.equinox.console" version="1.1.0.v20140131-1639"/>
<plugin id="org.eclipse.equinox.console" version="1.1.0.v20140131-1639"/>
<plugin id="org.eclipse.equinox.console.jaas.fragment"/>
<plugin id="org.eclipse.equinox.console.source" version="1.1.0.v20140131-1639"/>
<plugin id="org.eclipse.equinox.console.source" version="1.1.0.v20140131-1639"/>
<plugin id="org.eclipse.equinox.console.source" version="1.1.0.v20140131-1639"/>
<plugin id="org.eclipse.equinox.console.ssh"/>
<plugin id="org.eclipse.equinox.console.ssh.source"/>
<plugin id="org.eclipse.equinox.ds" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.ds" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.ds.source" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.ds.source" version="1.4.200.v20131126-2331"/>
<plugin id="org.eclipse.equinox.event" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.event" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.event.source" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.event.source" version="1.3.100.v20140115-1647"/>
<plugin id="org.eclipse.equinox.http.jetty" version="3.0.200.v20131021-1843"/>
<plugin id="org.eclipse.equinox.http.jetty" version="3.0.200.v20131021-1843"/>
<plugin id="org.eclipse.equinox.http.jetty.source" version="3.0.200.v20131021-1843"/>
<plugin id="org.eclipse.equinox.http.jetty.source" version="3.0.200.v20131021-1843"/>
<plugin id="org.eclipse.equinox.http.registry"/>
<plugin id="org.eclipse.equinox.http.registry.source"/>
<plugin id="org.eclipse.equinox.http.servlet" version="1.1.500.v20140318-1755"/>
<plugin id="org.eclipse.equinox.http.servlet" version="1.1.500.v20140318-1755"/>
<plugin id="org.eclipse.equinox.http.servlet.source" version="1.1.500.v20140318-1755"/>
<plugin id="org.eclipse.equinox.http.servlet.source" version="1.1.500.v20140318-1755"/>
<plugin id="org.eclipse.equinox.http.servletbridge"/>
<plugin id="org.eclipse.equinox.http.servletbridge.source"/>
<plugin id="org.eclipse.equinox.launcher"/>
<plugin id="org.eclipse.equinox.launcher.source"/>
<plugin id="org.eclipse.equinox.preferences" version="3.5.200.v20140224-1527"/>
<plugin id="org.eclipse.equinox.preferences" version="3.5.200.v20140224-1527"/>
<plugin id="org.eclipse.equinox.preferences.source" version="3.5.200.v20140224-1527"/>
<plugin id="org.eclipse.equinox.preferences.source" version="3.5.200.v20140224-1527"/>
<plugin id="org.eclipse.equinox.region"/>
<plugin id="org.eclipse.equinox.region.source"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.registry.source" version="3.5.400.v20140428-1507"/>
<plugin id="org.eclipse.equinox.security"/>
<plugin id="org.eclipse.equinox.security.macosx"/>
<plugin id="org.eclipse.equinox.security.macosx.source"/>
<plugin id="org.eclipse.equinox.security.source"/>
<plugin id="org.eclipse.equinox.security.ui"/>
<plugin id="org.eclipse.equinox.security.ui.source"/>
<plugin id="org.eclipse.equinox.servletbridge"/>
<plugin id="org.eclipse.equinox.servletbridge.source"/>
<plugin id="org.eclipse.equinox.simpleconfigurator"/>
<plugin id="org.eclipse.equinox.simpleconfigurator.source"/>
<plugin id="org.eclipse.equinox.supplement"/>
<plugin id="org.eclipse.equinox.supplement.source"/>
<plugin id="org.eclipse.equinox.transforms.hook"/>
<plugin id="org.eclipse.equinox.transforms.hook.source"/>
<plugin id="org.eclipse.equinox.transforms.xslt"/>
<plugin id="org.eclipse.equinox.transforms.xslt.source"/>
<plugin id="org.eclipse.equinox.util" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.equinox.util" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.equinox.util.source" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.equinox.util.source" version="1.0.500.v20130404-1337"/>
<plugin id="org.eclipse.help"/>
<plugin id="org.eclipse.help.source"/>
<plugin id="org.eclipse.jdt.core"/>
<plugin id="org.eclipse.jdt.core.source"/>
<plugin id="org.eclipse.jdt.junit.runtime"/>
<plugin id="org.eclipse.jdt.junit.runtime.source"/>
<plugin id="org.eclipse.jetty.continuation" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.continuation" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.continuation.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.continuation.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.http" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.http" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.http.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.http.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.io" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.io" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.io.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.io.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.security" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.security" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.security.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.security.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.server" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.server" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.server.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.server.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.servlet" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.servlet" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.servlet.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.servlet.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.util" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.util" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.util.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jetty.util.source" version="8.1.14.v20131031"/>
<plugin id="org.eclipse.jface"/>
<plugin id="org.eclipse.jface.databinding"/>
<plugin id="org.eclipse.jface.examples.databinding"/>
<plugin id="org.eclipse.jface.source"/>
<plugin id="org.eclipse.jface.tests.databinding"/>
<plugin id="org.eclipse.jface.tests.databinding.conformance"/>
<plugin id="org.eclipse.jface.text"/>
<plugin id="org.eclipse.jface.text.source"/>
<plugin id="org.eclipse.osgi" version="3.10.1.v20140909-1633"/>
<plugin id="org.eclipse.osgi" version="3.10.1.v20140909-1633"/>
<plugin id="org.eclipse.osgi" version="3.10.1.v20140909-1633"/>
<plugin id="org.eclipse.osgi.compatibility.state"/>
<plugin id="org.eclipse.osgi.compatibility.state.source"/>
<plugin id="org.eclipse.osgi.services" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.services" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.services" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.services.source" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.services.source" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.services.source" version="3.4.0.v20140312-2051"/>
<plugin id="org.eclipse.osgi.source" version="3.10.1.v20140909-1633"/>
<plugin id="org.eclipse.osgi.source" version="3.10.1.v20140909-1633"/>
<plugin id="org.eclipse.osgi.source" version="3.10.1.v20140909-1633"/>
<plugin id="org.eclipse.osgi.util"/>
<plugin id="org.eclipse.osgi.util.source"/>
<plugin id="org.eclipse.rap.demo"/>
<plugin id="org.eclipse.rap.demo.controls"/>
<plugin id="org.eclipse.rap.demo.controls.source"/>
<plugin id="org.eclipse.rap.demo.databinding"/>
<plugin id="org.eclipse.rap.demo.databinding.source"/>
<plugin id="org.eclipse.rap.demo.source"/>
<plugin id="org.eclipse.rap.design.example"/>
<plugin id="org.eclipse.rap.design.example.source"/>
<plugin id="org.eclipse.rap.e4"/>
<plugin id="org.eclipse.rap.e4.source"/>
<plugin id="org.eclipse.rap.examples"/>
<plugin id="org.eclipse.rap.examples.pages"/>
<plugin id="org.eclipse.rap.examples.pages.source"/>
<plugin id="org.eclipse.rap.examples.source"/>
<plugin id="org.eclipse.rap.jface" version="3.0.0.20140922-1259"/>
<plugin id="org.eclipse.rap.jface.databinding" version="3.0.0.20140612-1340"/>
<plugin id="org.eclipse.rap.jface.databinding.source" version="3.0.0.20140612-1340"/>
<plugin id="org.eclipse.rap.jface.source" version="3.0.0.20140922-1259"/>
<plugin id="org.eclipse.rap.junit"/>
<plugin id="org.eclipse.rap.junit.runtime"/>
<plugin id="org.eclipse.rap.junit.runtime.source"/>
<plugin id="org.eclipse.rap.junit.source"/>
<plugin id="org.eclipse.rap.nebula.jface.gridviewer"/>
<plugin id="org.eclipse.rap.nebula.jface.gridviewer.source"/>
<plugin id="org.eclipse.rap.nebula.widgets.grid"/>
<plugin id="org.eclipse.rap.nebula.widgets.grid.demo.examples"/>
<plugin id="org.eclipse.rap.nebula.widgets.grid.demo.examples.source"/>
<plugin id="org.eclipse.rap.nebula.widgets.grid.source"/>
<plugin id="org.eclipse.rap.rwt" version="3.0.0.20141110-1349"/>
<plugin id="org.eclipse.rap.rwt.osgi" version="3.0.0.20140611-1411"/>
<plugin id="org.eclipse.rap.rwt.osgi.source" version="3.0.0.20140611-1411"/>
<plugin id="org.eclipse.rap.rwt.source" version="3.0.0.20141110-1349"/>
<plugin id="org.eclipse.rap.rwt.testfixture"/>
<plugin id="org.eclipse.rap.rwt.testfixture.source"/>
<plugin id="org.eclipse.rap.ui"/>
<plugin id="org.eclipse.rap.ui.cheatsheets"/>
<plugin id="org.eclipse.rap.ui.cheatsheets.source"/>
<plugin id="org.eclipse.rap.ui.forms"/>
<plugin id="org.eclipse.rap.ui.forms.source"/>
<plugin id="org.eclipse.rap.ui.source"/>
<plugin id="org.eclipse.rap.ui.views"/>
<plugin id="org.eclipse.rap.ui.views.source"/>
<plugin id="org.eclipse.rap.ui.workbench"/>
<plugin id="org.eclipse.rap.ui.workbench.source"/>
<plugin id="org.eclipse.text"/>
<plugin id="org.eclipse.text.source"/>
<plugin id="org.hamcrest.core"/>
<plugin id="org.hamcrest.core.source"/>
<plugin id="org.junit"/>
<plugin id="org.junit.source"/>
<plugin id="org.mozilla.javascript"/>
<plugin id="org.mozilla.javascript.source"/>
<plugin id="org.slf4j.api"/>
<plugin id="org.slf4j.api.source"/>
</includeBundles>
<environment>
<os>macosx</os>
<ws>cocoa</ws>
<arch>x86_64</arch>
<nl>de_DE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.6 -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts -XX:MaxPermSize=512m -Xms40m -Xmx2048m -Xdock:icon=../Resources/Eclipse.icns -XstartOnFirstThread -Dorg.eclipse.swt.internal.carbon.smallFonts</vmArgs>
</launcherArgs>
</target>
