<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension
         id="org.eclipse.e4.security.demo.rcp"
         name="e4Demo"
         point="org.eclipse.core.runtime.applications">
      <application
            cardinality="singleton-scoped"
            thread="main"
            visible="true">
         <run
               class="org.eclipse.e4.security.demo.login.Application">
         </run>
      </application>
   </extension>

   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            name="org.eclipse.e4.security.demo.rcp"
            application="org.eclipse.e4.security.demo.rcp.org.eclipse.e4.security.demo.rcp">
            <property
               name="lifeCycleURI"
               value="bundleclass://org.eclipse.e4.security.demo.rcp/org.eclipse.e4.security.demo.rcp.Manager">
         </property>
         <property
               name="applicationCSS"
               value="platform:/plugin/org.eclipse.e4.security.demo.rcp/css/default.css">
         </property>
         <property
               name="applicationXMI"
               value="platform:/plugin/org.eclipse.e4.security.demo.ui/SingleSource.e4xmi">
         </property>
         <property
               name="appName"
               value="org.eclipse.e4.security.demo.rcp">
         </property>
      </product>
   </extension>

</plugin>
